<template>
  <div class="content-row">
    <!-- modal submit -->
    <modal v-model="openmodal" title="Tambah Antrian" ref="modal" id="modal-demo" :footer="false" :backdrop="false">
      <form @submit.prevent="submitAlert" class="form">
        <div class="form-group">
          <label for="email">Tanggal:</label>
          <input required="" type="date" class="search-box-input filter-input " v-model="formdata.tgl" placeholder="Tanggal" >
        </div>
        <div class="form-group">
          <label for="email">Nama:</label>
          <input required="" type="text" class="search-box-input filter-input " placeholder="Nama" v-model="formdata.nama">
        </div>
        <div class="form-group">
          <label for="email">Counter:</label>
          <select @change="changeCounterInput()" required="" class="search-box-select filter-input" v-model="formdata.counter">
            <option value="" selected>Pilih Counter</option>
            <option v-for="(d,i) in dataCounter" :key="i" :value="d.spotID">{{d.namaSpot}} ({{d.penjaga}})</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Keterangan:</label>
          <textarea required="" class="search-box-input filter-input" v-model="formdata.keterangan"></textarea>
          <span><i>{{this.formdata.recomend}}</i></span>
        </div>
       
        <div class="form-group">
          <label for="email">Status:</label>
          <select required="" class="search-box-select filter-input" v-model="formdata.status">
            <option value="" selected>Pilih Status</option>
            <option value="0" selected>Daftar</option>
            <option value="1" selected>Checkin</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" :disabled="loading">Simpan <i v-if="loading" class="fas fa-circle-notch fa-spin"></i></button>
          <button class="btn" type="button" @click="openmodal=false">Close</button>
        </div>
      </form>
      
    </modal>
    <!-- modal cek boking -->
    <modal v-model="modalbooking" title="Booking Code" ref="modal" id="modal-demo" :footer="false" :backdrop="false">
      <form @submit.prevent="checkkode" class="form">
        <div class="form-group text-left">
              <label for="usr">Booking Code:</label>
              <input type="text" v-model="kodeAntre" placeholder="Booking code" class="form-control input-lg" id="usr">
            </div>
            <div class="form-group text-right">
              <button :disabled="loadingBooking" class="btn btn-success btn-lg" type="submit">Submit <i v-if="loadingBooking" class="fas fa-circle-notch fa-spin"></i></button>
              <button class="btn" type="button" @click="modalbooking=false">Close</button>

            </div>
      </form>
    </modal>
    <!-- modal success cek boking -->
     <modal v-model="dataSuccess" class="text-dark bg-grey modal-text-center"  ref="modal" id="modal-demo" :backdrop="false">
      <h4>Welcome to</h4>
      <h3 class="font-bold nama-antre">{{$cookies.get("nama")}}</h3>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 number-antre">
          <h1>{{antreSuccess.nama}}</h1>
          <h4>your number</h4>
          <h1>{{antreSuccess.nomor}}</h1>
          <h4>Counter</h4>
          <h1>{{antreSuccess.poli}}</h1>
          <!-- <h3>Estimation : {{antreSuccess.estimation}}</h3> -->
        </div>
      </div>
      <div slot="footer">
        <btn class="btn btn-danger" @click="dataSuccess=false;modalbooking=false;loadAntre()">Close</btn>
      </div>
    </modal>
    <router-link to="/" class="button-back">
      <img src="../assets/baseline_keyboard_backspace_white_36dp.png" alt="Back">
    </router-link>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 card card-table">
        <div class="title-table">
          <span>Data Antrian</span>
        </div>
        <div class="content-table">
          <div class="search-box">
            <input @change="loadAntre" class="search-box-input filter-input" type="date" placeholder="tgl" v-model="sTgl">
            <select v-model="sStatus" class="search-box-select filter-input" name="status" id="status">
              <option value="0">Daftar</option>
              <option value="1" selected>Checkin</option>
              <option value="2">Proses</option>
              <option value="3">Selesai</option>
              <option value="4">Cancel</option>
              <option value="5">Reject</option>
            </select>
            <select v-model="sCounter" class="search-box-select filter-input" name="counter" id="counter">
              <option value="" selected>Pilih Counter</option>
              <option v-for="(d,i) in dataCounter" :key="i" :value="d.spotID">{{d.namaSpot}} ({{d.penjaga}})</option>
            </select>
            <input class="search-box-input filter-input" type="text" placeholder="Nama" v-model="sNama">
            <input class="search-box-input filter-input" type="text" placeholder="keterangan" v-model="sKet">
            
            <div @click="resetFilter" class="btn-refersh">
              <img
                src="../assets/baseline_refresh_black_18dp.png"
                alt="refresh" width="20px" height="20px">
            </div>
          </div>
          <div class="search-box">
            
          </div>
          <div class="button-wrap">
            <button @click="openmodal=true" class="btn btn-green">Tambah</button>
            <button @click="modalbooking=true;kodeAntre=''" class="btn btn-primary">Booking Code</button>
          </div>
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>No Antrian</th>
                  <th>Counter</th>
                  <th>Nama</th>
                  <th>Keterangan</th>
                  <th>Alamat</th>
                  <th>Tgl Lahir</th>
                  <th>Kode Booking</th>
                  <th>Rating</th>
                  <th>Komentar</th>
                  <th>Validasi</th>
                  <th>Status</th>
                  <th>Act</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(d,i) in filterdata()" :key="i">
                  <td>{{d.no}}</td>
                  <td>{{d.namaSpot}}</td>
                  <td>{{d.nama}}</td>
                  <td>{{(d.keterangan.length >= 100) ? d.keterangan.substr(0,100)+"..." : d.keterangan}}</td>
                  <td>{{d.kota}}</td>
                  <td>{{d.lahir}}</td>
                  <td>{{d.code}}</td>
                  
                  <td>
                      <span v-for="(s,x) in 5" :key="x">
                        <i v-if="Math.floor(d._rating)>=s" class="fas fa-star star"></i>
                        <i v-if="d._rating-s<0 && d._rating-s>-0.9" class="fas fa-star-half-alt star"></i>
                        <i v-if="Math.floor(d._rating)+1<s || d._rating==0" class="far fa-star star"></i>
                      </span>
                  </td>
                  <td>{{d._ulasan}}</td>
                  <td><span 
                    v-bind:class="{
                      'bg-green-box info-text':d._validasi==1,
                      'bg-red-box info-text':d._validasi==0,
                      }" >{{d._validasi==1 ? 'Sudah' : 'Belum'}}</span></td>
                  <td><span 
                    v-bind:class="{'bg-blue-box info-text':d.statusid==0,
                      'bg-green-box info-text':d.statusid==1,
                      'bg-yellow-box info-text':d.statusid==2,
                      'bg-orange-box info-text':d.statusid==3,
                      'bg-red-box info-text':d.statusid==4,
                      'bg-black-box info-text':d.statusid==5,
                      }" >{{d.status}}</span></td>
                  
                  <td>
                    <button :disabled="loading" class="btn"
                    @click="updateValidasi(d._validasi,d._antreId)"
                      v-bind:class="{
                        'btn-success':d._validasi==0,
                        'btn-danger':d._validasi==1,
                      }">
                      {{d._validasi==1 ? 'Hapus Validasi' : 'Validasi'}} <i v-if="loading" class="fas fa-circle-notch fa-spin"></i>
                      </button>
                      <button class="btn btn-warning" @click="showDetail(d._antreId)">Detail</button>
                      <button class="btn btn-danger" @click="batalantre(d._antreId)">Batalkan</button>
                  </td>
                </tr>

              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="table-wrapper card">
      
    </div> -->

     <!-- modal detail -->
     <modal v-model="modalDetail" title="Detail Antrian" class="text-dark text-left" ref="modal" id="modal-demo" :backdrop="false">
       <div class="table-responsive">
        <table class="table modal-counter-wrap table-detail table">
          <tr>
            <td class="title-table-detail">Counter</td>
            <td>: {{dataDetail.namaSpot}}</td>
          </tr>
          <tr>
            <td class="title-table-detail">No Antrian</td>
            <td>: {{dataDetail.no}}</td>
          </tr>
          <tr>
            <td class="title-table-detail">Keterangan</td>
            <td>: {{dataDetail.keterangan}}</td>
          </tr>
        </table>
       </div>
       <table class="table modal-data-diri table-detail table">
         <tr>
           <td class="title-table-detail">Nama</td>
           <td>: {{dataDetail.nama}}</td>
         </tr>
         <tr>
           <td class="title-table-detail">Alamat</td>
           <td>: {{dataDetail.kota}}</td>
         </tr>
         <tr>
           <td class="title-table-detail">Tgl Lahir</td>
           <td>: {{dataDetail.lahir}}</td>
         </tr>
       </table>
       <table class="table modal-detail table-detail table">
         <tr>
           <td class="title-table-detail">Validasi</td>
           <td>: <span 
                  v-bind:class="{
                    'bg-green-box info-text':dataDetail._validasi==1,
                    'bg-red-box info-text':dataDetail._validasi==0,
                    }" >{{dataDetail._validasi==1 ? 'Sudah' : 'Belum'}}</span>
            </td>
         </tr>
         <tr>
           <td class="title-table-detail">Status</td>
           <td>: <span 
                  v-bind:class="{'bg-blue-box info-text':dataDetail.statusid==0,
                    'bg-green-box info-text':dataDetail.statusid==1,
                    'bg-yellow-box info-text':dataDetail.statusid==2,
                    'bg-orange-box info-text':dataDetail.statusid==3,
                    'bg-red-box info-text':dataDetail.statusid==4,
                    'bg-black-box info-text':dataDetail.statusid==5,
                    }" >{{dataDetail.status}}</span>
            </td>
         </tr>
         <tr>
           <td class="title-table-detail">Rating</td>
           <td>: <span v-for="(s,x) in 5" :key="x">
                      <i v-if="Math.floor(dataDetail._rating)>=s" class="fas fa-star"></i>
                      <i v-if="dataDetail._rating-s<0 && dataDetail._rating-s>-0.9" class="fas fa-star-half-alt"></i>
                      <i v-if="Math.floor(dataDetail._rating)+1<s || dataDetail._rating==0" class="far fa-star"></i>
                    </span></td>
         </tr>
         <tr>
           <td class="title-table-detail">Komentar</td>
           <td>: {{dataDetail._ulasan}}</td>
        </tr>
       </table>
      
      
      <div slot="footer">
        <button @click="modalDetail=false" class="btn btn-danger">Close</button>
        <button @click="print(dataDetail._antreId)" class="btn btn-primary">Print</button>
      </div>
    </modal>
    
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
export default {
  name: 'Antrian',
  data() {
    return {
      loading:false,
      modalDetail:false,
      dataDetail:[],
      formdata:{
        tgl:'',
        recomend:'',
        nama:'',
        keterangan:'',
        counter:'',
        status:''
      },
      sTgl: '',
      sNama: '',
      sKet: '',
      sCounter:"",
      sStatus:"0",
      openmodal:false,
      kodeAntre:'',
      loadingBooking:false,
      modalbooking:false,
      antreSuccess:{
        nama:'',
        poli:'',
        nomor:'',
        estimation:'',
      },
      dataSuccess:false
    };
  },
  created() {
    const date = new Date();
    const month = date.getMonth() + 1;

    this.sTgl = `${date.getFullYear()}-${month<=9 ? 0 :''}${month}-${date.getDate()<=9 ?0:'' }${date.getDate()}`;
    
    var formdata = new FormData();
    formdata.append("user",this.$cookies.get("id"));

    this.getCounter(formdata);
    
    formdata.append("tgl",this.sTgl);

    this.getAntre(formdata);
  },
  computed:{
    ...mapState("counter", ["dataCounter"]),
    ...mapState("antre", ["dataAntre"]),
    ...mapState(["API_URL"]),
    
  },
  methods:{
    ...mapActions('kiosk',['getBookingData']),
    ...mapActions("counter", ['getCounter']),
    ...mapActions("antre", ['getAntre',"submitAntre","changeValidation","cancelAntre"]),
    changeCounterInput(){
      var self = this;
      var dataCounterFiltered = this.dataCounter.filter(data=>
        data.spotID == self.formdata.counter
      );
      console.log(dataCounterFiltered);
      this.formdata.recomend = dataCounterFiltered[0].keterangan;
    },
    checkkode(){
      var self = this;
      self.loadingBooking = true;
      var fd = new FormData();
      fd.append('kode',this.kodeAntre);
      fd.append('site',this.$cookies.get("id"));
      this.getBookingData(fd).then(res=>{
        if(res.success){
          res = res.data;
          self.antreSuccess.nama = res.nama;
          self.antreSuccess.poli = res.counter;
          self.antreSuccess.nomor = res.initial+res.no;
          self.antreSuccess.estimation = res.estimasi;
          self.dataSuccess = true;
        }else{
          self.$swal({
            type: 'info',
            text: res.message,
          })
        }
        self.loadingBooking = false;
        
        console.log(antreSuccess);
      });
    },
    submitAlert(){
      var html = "";
      html+="<p style='text-align:left'>Recomend : "+this.formdata.recomend+"</p>";
      html+="<p style='text-align:left'>Your Data : "+this.formdata.keterangan+"</p>";
      this.$swal({
            html: html,
            type: 'question',
            title: 'Data Validation',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Oke'
          }).then((result) => {
            if (result) {
              this.submitForm()
            }
          })
    },
    submitForm(){
      
      this.loading = true;
      var fd = new FormData();
      var self = this;
      
      fd.append('tanggal',this.formdata.tgl);
      fd.append('nama',this.formdata.nama);
      fd.append('keterangan',this.formdata.keterangan);
      fd.append('spot',this.formdata.counter);
      fd.append('status',this.formdata.status);
      fd.append('kiosk',"0");
      
      this.submitAntre(fd).then(res=>{
        if(res.success){
          var code = res.data.code ? res.data.code : '';
          var message = `<h2>${res.message}</h2><span>Queue Number</span><h1>${res.data.no}</h1><h3>Code: ${code}</h3>`;
          self.$swal({
            html: message,
            type: 'success',
            title: 'Berhasil',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Oke',
            confirmButtonText: 'Print'
          }).then((result) => {
            if (result) {
              window.open(self.API_URL+"/cetak/cetak.php?id_antre="+res.data._antreId_baru);
            }
          })
          this.openmodal = false;
          this.loadAntre();
          this.resetForm();
          
          
        }else{
          this.$swal({
            type: 'info',
            text: res.message,
          })
        }
        
        this.loading = false;
      })
      console.log(this.formdata);
    },
    loadAntre(){
      var formdata = new FormData();
      formdata.append("user",this.$cookies.get("id"));
      formdata.append("tgl",this.sTgl);

      this.getAntre(formdata);
      
    },
    resetFilter(){
      const date = new Date();
      const month = date.getMonth() + 1;
      
      this.sTgl = `${date.getFullYear()}-${month<=9 ? 0 :''}${month}-${date.getDate()<=9 ?0:'' }${date.getDate()}`;
      this.sStatus = "0";
      this.sCounter = "";
      this.loadAntre();
    },
    filterdata(){
      return this.dataAntre.filter(data => data.statusid == this.sStatus
                                          && (data.spotID == this.sCounter || this.sCounter=="")
                                          &&  data.nama.toLowerCase().includes(this.sNama)
                                          &&  data.keterangan.toLowerCase().includes(this.sKet)
      );
    },
    resetForm(){
       this.formdata.tgl='';
       this.formdata.nama='';
       this.formdata.keterangan='';
       this.formdata.counter='';
       this.formdata.recomend='';
       this.formdata.status='';
        
    },
    updateValidasi(validasi,primary){
      this.loading = true;
      validasi = validasi == 1 ? 0 : 1;
      var fd = new FormData(),
          self = this;
      fd.append('validasi',validasi);
      fd.append('id',primary);
      this.changeValidation(fd).then(res=>{
        self.loadAntre();
        this.loading = false;
      })
    },
    showDetail(id){
      var data = this.dataAntre.filter(data => data._antreId == id)[0];
      this.dataDetail = data;
      this.modalDetail = true;
    },
    batalantre(id){
      var fd = new FormData();
      fd.append("id_antre",id);
      var self = this;
      self.$swal({
            text: "apakah anda yakin menghapus antrian ini ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Tidak',
            confirmButtonText: 'Ya'
          }).then((result) => {
            if (result) {
              
              self.cancelAntre(fd).then(res=>{
                if(res.success){
                  self.$swal(
                    'Berhasil',
                    'Antrian berhasil dibatalkan',
                    'success'
                  )

                }else{
                  self.$swal(
                    'Gagal',
                    res.message,
                    'success'
                  )
                }
                self.loadAntre();

              })
            }
          })
    },
    print(id){
      window.open(this.API_URL+'/cetak/cetak.php?id_antre='+id);
    }

  }
};
</script>
<style scoped>
.btn{margin: 0 5px}
 .table-detail th, .table-detail td {
    padding: 5px !important;
    border:none !important;
 }
.title-table-detail{
  min-width: 150px !important;
  width: 150px !important;
  max-width: 150px !important;
  font-weight: bolder;
}
.modal-counter-wrap,
.modal-data-diri,
.modal-detail{
  padding:0 20px;
}
.modal-data-diri,
.modal-detail{
  margin-top: 30px;
}
.info-text{
  padding: 4px 12px !important;
  font-size: 12px;
}
a {
  text-decoration: none;
}
.btn-blue {
  color: #fff;
  background-color: #2980b9;
}
.btn-green {
  color: #fff;
  background-color: #27ae60;
}
.button-wrap {
  margin-top: 25px;
  text-align: left
}
.filter-input {
    max-width: 100%;
    width: 100%;
}
.form-group{
  text-align: left;
}
.modal-title{
  text-align: left;
}
button{
  border: none;
}
.modal-text-center{
  text-align: center
}
</style>
