<template>
  <div class="content-row">
    <router-link to="/" class="button-back">
      <img src="../assets/baseline_keyboard_backspace_white_36dp.png" alt="Back">
    </router-link>
    <div class="table-wrapper card">
      <div class="title-table">
        <span>Data Billing</span>
        
      </div>
      <div class="content-table">
        <div class="search-box">
          <select @change="loadData" name="tahun" v-model="sTahun" class="search-box-select filter-input" id="bulan">
            <option v-for="(d,i) in dataTahun" :key="i" :value="d.tahun">{{d.tahun}}</option>
          </select>
          <div @click="resetFilter" class="btn-refersh">
            <img
              src="../assets/baseline_refresh_black_18dp.png"
              alt="refresh" width="20px" height="20px">
          </div>
        </div>
        <div class="button-wrap">

          <a :href="`${API_URL}/bill_cetak.php?user=${idUser}&tahun=${sTahun}`" target="blank" class="btn btn-blue">Cetak</a>
          <a :href="`${API_URL}/bill_excel.php?user=${idUser}&tahun=${sTahun}`" target="blank" class="btn btn-green">Excel</a>
        </div>
        <table>
          <tr>
            <th>Bulan</th>
            <th>Tahun</th>
            <th>Tagihan</th>
            <th>Status</th>
            <th>Act</th>
          </tr>
          <tr v-for="(d,i) in dataBill" :key="i">
            <td>{{d.bulanT}}</td>
            <td>{{d.tahun}}</td>
            <td>{{d.tagihan}}</td>
            <td>{{d.statusT}}</td>
            <td>
              <button v-on:click="konfirmasiBill(d.id)" class="btn btn-blue" v-if="d.status==1">Konfirmasi</button>
              <a :href="`${API_URL}/pdf.php?id=${d.id}`" target="blank" class="btn btn-red">Download PDF</a>
              
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';

export default {
  name: 'Billing',
  data() {
    return {
      sTahun: '',
      idUser:"",
    };
  },
  created(){
    this.resetFilter();
    this.idUser = this.$cookies.get("id");
    const loginStat = this.$cookies.get('id');
    if (!loginStat) {
      this.$router.push('/login');
    }
  },
  computed:{
    ...mapState(["API_URL"]),
    ...mapState("tahun",["dataTahun"]),
    ...mapState("bill",["dataBill"]),
  },
  methods:{
    ...mapActions("tahun",["getTahun"]),
    ...mapActions("bill",["getBill","konfirmasi"]),
    loadData(){
      var formdata = new FormData();
      formdata.append("user",this.$cookies.get("id"));
      formdata.append("tahun",this.sTahun);
      this.getBill(formdata);
    },
    async resetFilter(){
      await this.getTahun();
      if(this.dataTahun.length)
        this.sTahun = this.dataTahun[0].tahun;
      this.loadData();
    },
    alertNotif(title, type, text) {
      this.$swal({
        heightAuto: false,
        title,
        type,
        text,
      });
    },
    konfirmasiBill(id){
      const self = this; 
      var formdata = new FormData();
      formdata.append("user",this.$cookies.get("id"));
      formdata.append("ed",id);
      this.konfirmasi(formdata).then(res=>{
        if(res.success){
          this.loadData();
        }else{
          this.alertNotif("Kesalahan","warning",res.message);
        }
      })
    }

  }
  
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  float: left;
  border: 0px transparent;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;

  border-radius: 3px;
}
.btn-blue {
  color: #fff;
  background-color: #2980b9;
}
.btn-green {
  color: #fff;
  background-color: #27ae60;
}
.btn-red{
  background-color: #e74c3c;
  color: #fff;
}
.button-wrap {
  margin-top: 25px;
}

</style>

