<template>
  <div class="container content-row">
    <router-link to="/" class="button-back">
      <img src="../assets/baseline_keyboard_backspace_white_36dp.png" alt="Back">
    </router-link>
    <div class=" card">
      <div class="title-table">
        <span>Data Report</span>
      </div>
      <div class="content-table">
        <div class="row">
          <div class="col-xs-12 form-inline text-left tabel-filter">
            <div class="form-group">
              <label for="email">Bulan&nbsp;</label>
              <select @change="loadChartData()" v-model="filterChart.bulan" class="form-control">
                <option value="">Pilih Bulan</option>
                <option v-for="(d,i) in bulan" :key="i" :value="d.key">{{d.text}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">Tahun&nbsp;</label>
              <input @change="loadChartData()" v-model="filterChart.tahun" placeholder="Tahun" type="text" class="form-control" id="pwd">
            </div>
            
            <div class="form-group">
              <label for="pwd">Counter&nbsp;</label>
              <select @change="loadChartData()" v-model="filterChart.counter" class="form-control" name="counter" id="counter">
                <option value="" selected>Pilih Counter</option>
                <option v-for="(d,i) in dataCounter" :key="i" :value="d.spotID">{{d.namaSpot}}</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="pwd">Status&nbsp;</label>
              <select @change="loadChartData()" v-model="filterChart.status" class="form-control" name="status" id="status">
                <option value="">All</option>
                <option value="daftar">Daftar</option>
                <option value="1">Checkin</option>
                <option value="2">Proses</option>
                <option value="3">Selesai</option>
                <option value="4">Cancel</option>
                <option value="5">Reject</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-lg-push-10 col-md-5 col-md-push-7 col-sm-6 col-sm-push-6 col-xs-12">
            <div class="card-chart bg-blue">
              <div class="title-card">Jumlah Queue</div>
              {{totalChartTop}}
            </div>
          </div>
          <div class="col-lg-10 col-lg-pull-2 col-md-7 col-md-pull-5 col-sm-6 col-sm-pull-6 col-xs-12">
            <highcharts :options="chartTop"></highcharts>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-lg-push-10 col-md-5 col-md-push-7 col-sm-6 col-sm-push-6 col-xs-12">
            <div class="card-chart bg-blue">
              <div class="title-card">Jumlah Queue</div>
              {{totalChartBot}}
            </div>
          </div>
          <div class="col-lg-10 col-lg-pull-2 col-md-7 col-md-pull-5 col-sm-6 col-sm-pull-6 col-xs-12">
            <highcharts :options="chartBot"></highcharts>
          </div>
        </div>
        

      </div>
    </div>
    <div class=" card">
      <div class="title-table">
        <span>Data Report</span>
      </div>
      <div class="content-table">
        <div class="row">
          <div class="col-xs-12 form-inline text-left tabel-filter">
            <div class="form-group">
              <label for="email">Tanggal Dari </label>
              <input @change="loadDataTabel()" v-model="filtertable.dari" type="date" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Tanggal Sampai </label>
              <input @change="loadDataTabel()" v-model="filtertable.sampai" type="date" class="form-control" id="pwd">
            </div>
            
            <div class="form-group">
              <label for="pwd">Counter </label>
              <select @change="loadDataTabel()" v-model="filtertable.counter" class="form-control" name="counter" id="counter">
                <option value="" selected>Pilih Counter</option>
                <option v-for="(d,i) in dataCounter" :key="i" :value="d.spotID">{{d.namaSpot}}</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="pwd">Status </label>
              <select @change="loadDataTabel()" v-model="filtertable.status" class="form-control" name="status" id="status">
                <option value="">All</option>
                <option value="daftar">Daftar</option>
                <option value="1">Checkin</option>
                <option value="2">Proses</option>
                <option value="3">Selesai</option>
                <option value="4">Cancel</option>
                <option value="5">Reject</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-chart bg-blue">
              <div class="title-card">Total</div>
              {{totalTable}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-chart bg-blue">
              <div class="title-card">Pemberi Rating</div>
              {{totalRatingTable}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-chart bg-blue">
              <div class="title-card">Rating</div>
              <span v-for="(s,x) in 5" :key="x">
                <i v-if="Math.floor(ratingTable)>=s" class="fas fa-star star"></i>
                <i v-if="ratingTable-s<0 && ratingTable-s>-0.9" class="fas fa-star-half-alt star"></i>
                <i v-if="Math.floor(ratingTable)+1<s || ratingTable==0" class="far fa-star star"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Status</th>
                  <th>No Antre</th>
                  <th>Rating</th>
                  <th>Comment</th>
                  <th>Detail</th>
                </tr>
                <tr v-for="(d,i) in dataTabelDashboard" :key="i">
                  <td>{{i+1}}</td>
                  <td>{{d.nama}}</td>
                  <td>{{d.status}}</td>
                  <td>{{d.no}}</td>
                  <td><span v-for="(s,x) in 5" :key="x">
                      <i v-if="Math.floor(d._rating)>=s" class="fas fa-star star"></i>
                      <i v-if="d._rating-s<0 && d._rating-s>-0.9" class="fas fa-star-half-alt star"></i>
                      <i v-if="Math.floor(d._rating)+1<s || d._rating==0" class="far fa-star star"></i>
                    </span></td>
                  <td>{{d._ulasan}}</td>
                  <td><button @click="showDetail(d._antreId)" class="btn btn-success">Detail</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        

      </div>
    </div>
    <!-- modal detail  -->
    <modal v-model="modalDetail" title="Detail Antrian" class="text-dark text-left" ref="modal" id="modal-demo">
       <div class="table-responsive">
        <table class="table modal-counter-wrap table-detail table">
          <tr>
            <td class="title-table-detail">Counter</td>
            <td>: {{dataDetail.namaSpot}}</td>
          </tr>
          <tr>
            <td class="title-table-detail">No Antrian</td>
            <td>: {{dataDetail.no}}</td>
          </tr>
          <tr>
            <td class="title-table-detail">Keterangan</td>
            <td>: {{dataDetail.keterangan}}</td>
          </tr>
        </table>
       </div>
       <table class="table modal-data-diri table-detail table">
         <tr>
           <td class="title-table-detail">Nama</td>
           <td>: {{dataDetail.nama}}</td>
         </tr>
         <tr>
           <td class="title-table-detail">Alamat</td>
           <td>: {{dataDetail.kota}}</td>
         </tr>
         <tr>
           <td class="title-table-detail">Tgl Lahir</td>
           <td>: {{dataDetail.lahir}}</td>
         </tr>
       </table>
       <table class="table modal-detail table-detail table">
         <tr>
           <td class="title-table-detail">Validasi</td>
           <td>: <span 
                  v-bind:class="{
                    'bg-green-box info-text':dataDetail._validasi==1,
                    'bg-red-box info-text':dataDetail._validasi==0,
                    }" >{{dataDetail._validasi==1 ? 'Sudah' : 'Belum'}}</span>
            </td>
         </tr>
         <tr>
           <td class="title-table-detail">Status</td>
           <td>: <span 
                  v-bind:class="{'bg-blue-box info-text':dataDetail.statusid==0,
                    'bg-green-box info-text':dataDetail.statusid==1,
                    'bg-yellow-box info-text':dataDetail.statusid==2,
                    'bg-orange-box info-text':dataDetail.statusid==3,
                    'bg-red-box info-text':dataDetail.statusid==4,
                    'bg-black-box info-text':dataDetail.statusid==5,
                    }" >{{dataDetail.status}}</span>
            </td>
         </tr>
         <tr>
           <td class="title-table-detail">Rating</td>
           <td>: <span v-for="(s,x) in 5" :key="x">
                      <i v-if="Math.floor(dataDetail._rating)>=s" class="fas fa-star star"></i>
                      <i v-if="dataDetail._rating-s<0 && dataDetail._rating-s>-0.9" class="fas fa-star-half-alt star"></i>
                      <i v-if="Math.floor(dataDetail._rating)+1<s || dataDetail._rating==0" class="far fa-star star"></i>
                    </span></td>
         </tr>
         <tr>
           <td class="title-table-detail">Komentar</td>
           <td>: {{dataDetail._ulasan}}</td>
        </tr>
       </table>
      
      
      <div slot="footer">
        <button @click="modalDetail=false" class="btn btn-danger">Close</button>
      </div>
    </modal>
    
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';

import {Chart} from 'highcharts-vue'
export default {
  components: {
    highcharts: Chart 
  },
  data() {
    return {
      modalDetail:false,
      dataDetail:[],
      chartTop: {
        chart:{
          type:'line'
        },
        series: [{
            name:[],
            data: [] // sample data
          }],
        xAxis:{
          categories:[]
        }
      },
      chartBot: {
        chart:{
          type:'column'
        },
        series: [{
            name:[],
            data: [] // sample data
          }],
        xAxis:{
          categories:[]
        }
      },
      totalChartTop:0,
      totalChartBot:0,

      filtertable:{
          dari:'',
          sampai:'',
          counter:'',
          status:''
        },
      filterChart:{
        bulan:'',
        tahun:'',
        counter:'',
        status:''
      },
      bulan:[
        {
          key:1,
          text:"Januari"
        },
        {
          key:2,
          text:"Februari"
        },
        {
          key:3,
          text:"Maret"
        },
        {
          key:4,
          text:"April"
        },
        {
          key:5,
          text:"Mei"
        },
        {
          key:6,
          text:"Juni"
        },
        {
          key:7,
          text:"Juli"
        },
        {
          key:8,
          text:"Agustus"
        },
        {
          key:9,
          text:"September"
        },
        {
          key:10,
          text:"Oktober"
        },
        {
          key:11,
          text:"November"
        },
        {
          key:12,
          text:"Desember"
        }
      ],
      totalTable:0,
      totalRatingTable:0,
      ratingTable:0,
    }

    
  },
  computed:{
    ...mapState("counter", ["dataCounter"]),
    ...mapState("dashboard", ["dataTabelDashboard"]),
  },
  created(){
    
    var formdata = new FormData();
    formdata.append("user",this.$cookies.get("id"));

    this.getCounter(formdata);
    this.loadDataTabel();
    this.loadChartData();
  },
  methods:{
    ...mapActions("counter", ['getCounter']),
    ...mapActions("dashboard", ['getDataTabel',"getDataChart"]),

    loadDataTabel(){
      var fd = new FormData;
      fd.append("user",this.$cookies.get("id"));
      fd.append("dari",this.filtertable.dari);
      fd.append("sampai",this.filtertable.sampai);
      fd.append("counter",this.filtertable.counter);
      fd.append("status",this.filtertable.status);
      this.getDataTabel(fd).then(res=>{
        this.totalTable = res.total
        this.totalRatingTable = res.pemberi_rating
        this.ratingTable = res.rating;
        console.log(res)
      });
    },
    showDetail(id){
      var data = this.dataTabelDashboard.filter(data => data._antreId == id)[0];
      this.dataDetail = data;
      this.modalDetail = true;
    },
    loadChartData(){
      
      var fd = new FormData;

      fd.append("user",this.$cookies.get("id"));
      fd.append("bulan",this.filterChart.bulan);
      fd.append("tahun",this.filterChart.tahun);
      fd.append("counter",this.filterChart.counter);
      fd.append("status",this.filterChart.status);
      
      var categoriesDataAtas = [];
      var seriesDataAtasantre = [];
      var seriesDataAtasrating = [];

      var categoriesDataBawah = [];
      var seriesDataBawahantre = [];
      var seriesDataBawahrating = [];
      
      this.getDataChart(fd).then(res=>{
        // set data chat atas
        var dataAtas = res.data_atas;
        for(var i =0; i<dataAtas.length;i++){
          categoriesDataAtas.push(dataAtas[i].tanggal);
          seriesDataAtasantre.push(parseInt(dataAtas[i].antrean));
          seriesDataAtasrating.push(parseInt(dataAtas[i].pemberi_rating));
        }
        // chart atas
        var categories = categoriesDataAtas;
        this.chartTop.xAxis.categories = categories; 
        this.chartTop.series[0].data = seriesDataAtasantre;
        this.chartTop.series[0].name = "Anrean";
         
        this.totalChartTop = res.totalAtas;


        // set data chart bawah
        var data_bawah = res.data_bawah;
        for(var i =0; i<data_bawah.length;i++){
          categoriesDataBawah.push(data_bawah[i].text_bulan);
          seriesDataBawahantre.push(parseInt(data_bawah[i].antrean));
          seriesDataBawahrating.push(parseInt(data_bawah[i].pemberi_rating));
        }
        // chart Bawah
        this.chartBot.xAxis.categories = categoriesDataBawah; 
        this.chartBot.series[0].data = seriesDataBawahantre;
        this.chartBot.series[0].name = "Anrean";
         
        this.totalChartBot = res.totalBawah;

      })
    }
  }
 
};
</script>
<style lang="scss" scoped>
 .table-detail th, .table-detail td {
    padding: 5px !important;
    border:none !important;
 }
.title-table-detail{
  min-width: 150px !important;
  width: 150px !important;
  max-width: 150px !important;
  font-weight: bolder;
}
.modal-counter-wrap,
.modal-data-diri,
.modal-detail{
  padding:0 20px;
}
.modal-data-diri,
.modal-detail{
  margin-top: 30px;
}
.info-text{
  padding: 4px 12px !important;
  font-size: 12px;
}
.tabel-filter .form-group{
  padding:5px 10px;
}
.container{
  padding-top:100px;

}
.card{
 margin-bottom: 20px;
}
.table-wrapper{
  margin-bottom: 20px;
}
  .card-chart{
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    &>.title-card{
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 100;
    }
  }
  
  .bg-green{
    background: #27ae60;
    color: #fff
  }
  .bg-blue{ background: #3498db;color: #fff}

</style>
