<template>
  <div class="content">
    <div class="row title">
      <!-- <img src="../assets/user.png" class="img-user" alt="">
      <p>Welcome</p> -->
      <h1 class="counter_name">{{nama}}</h1>
    </div>
    <div class="row">
      <router-link to="/antrian"  class="card__wrapper col-md-4 col-md-offset-2">
        <div class="card__home bg-blue">
          <div class="icon border-blue">
            <span class="fa fa-users color-blue"></span>
          </div>
          <div class="text-content">
            <h3 class="__title-content">Antrian</h3>
            <p>Fitur untuk manajemen data antrian serta informasi tamu pada counter Anda</p>
          </div>
        </div>
      </router-link>
      <router-link to="/report" class="card__wrapper col-md-4 ">
        <div class="card__home bg-green">
          <div class="icon border-green">
            <span class="fa fa-paste color-green"></span>
          </div>
          <div class="text-content">
            <h3 class="__title-content">Report</h3>
            <p>Fitur untuk evaluasi berdasarkan data report antrian dengan dashboard grafik</p>
          </div>
        </div>
      </router-link>
    </div>
    <div class="row">
      <router-link to="/billing" class="card__wrapper col-md-4 col-md-offset-2">
        <div class="card__home bg-red">
          <div class="icon border-red">
            <span class="fa fa-dollar-sign color-red"></span>
          </div>
          <div class="text-content">
            <h3 class="__title-content">Billing</h3>
            <p>Fitur untuk mendapatkan informasi status billing penggunaan aplikasi</p>
          </div>
        </div>
      </router-link>
      <router-link to="/user-tv" class="card__wrapper col-md-4 ">
        <div class="card__home bg-orange">
          <div class="icon border-orange">
            <span class="fa fa-users-cog color-orange"></span>
          </div>
          <div class="text-content">
            <h3 class="__title-content">User TV</h3>
            <p>Fitur untuk manajemen user TV yang dapat mengakses tampilan antrian</p>
          </div>
        </div>
      </router-link>
    </div>
    
  </div>
</template>

<script>

export default {
  name: 'home',
  data(){
    return {
      nama : this.$cookies.get("nama")
    }
  },
  created() {

    const loginStat = this.$cookies.get('id');
    if (!loginStat) {
      this.$router.push('/login');
    }else if(this.$cookies.get('iduser')){
      this.$router.push('/monitor');
    }
  },
  methods:{
    
  }
};
</script>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
  .counter_name,.text-content{
      font-family: 'Roboto', sans-serif ;
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
  .title{
    text-align:center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
    &>.counter_name{
      font-weight: bold;
    }
    &>.img-user{
      border: 2px solid #fff;
      border-radius: 50px;
    }
  }
  .card__wrapper{
    padding-left: 50px;
  }
  .card__home{
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
    min-height: 150px;
    display: inline-block;
    &>.icon{
      display: block;
      float: left;
      position: absolute;
      height: 100px;
      width: 100px;
      text-align: center;
      font-size: 45px;
      line-height: 90px;
      background: #fff;
      border: 8px solid;
      border-radius: 50px;
      top: 47%;
      left: 0;
      transform: translateY(-50%);
    }
    &>.text-content{
      padding: 15px;
      margin-left: 60px;
      font-family: 'Roboto', sans-serif;
      &>.__title-content{
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
  // responsive
@media only screen and (max-height:560px),screen and (max-width: 875px){
  .content{
    position: relative;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    transform:unset;
  }
  .title{
    margin-bottom: 20px;
  }
}
@media only screen and (max-height:600px) {
  .content{
    position: relative;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    transform:unset;
  }
  .title{
    margin-bottom: 20px;
  }
}

</style>

