<template>
  <div class="container-fluid wrapper text-white row">
    <div class="center-content row">
      <h2 class="text-center text-white">Selamat Datang di {{$cookies.get("nama")}}</h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <carousel :indicators="true" :controls="true" :interval="2000" ref="carousel">
            <slide v-for="(slide, index) in dataImage" :key="index">
              <div style="width: 100%;height: 300px;" :style="{background:index % 2 === 0? '#99a9bf' : '#d3dce6'}">
                  <img :src="`${rootImage}${slide.image}`" alt="">
              </div>
              <div class="carousel-caption">
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="row booking">
        <div class="col-md-4 col-md-offset-4 booking-card">
          <form @submit.prevent="checkkode">
            <div class="form-group text-left">
              <label for="usr">Booking Code:</label>
              <input type="text" v-model="kodeAntre" placeholder="Booking code" class="form-control input-lg" id="usr">
            </div>
            <div class="form-group text-right">
              <button :disabled="loadingBooking" class="btn btn-success btn-lg" type="submit">Submit <i v-if="loadingBooking" class="fas fa-circle-notch fa-spin"></i></button>
            </div>
          </form>
        </div>
      </div>
      <p>Didn't have booking code ?</p>
      <p>Use manual check in below</p>
      <button @click="manualCheckinShow()" class="btn btn-success btn-lg">MANUAL CHECK-IN</button>
    </div>
    <!-- modal card success -->
     <modal v-model="dataSuccess" class="text-dark bg-grey" @hide="modalSucessHide" ref="modal" id="modal-demo" :backdrop="false">
      <h4 style="text-align:center">Welcome to</h4>
      <h3 style="text-align:center" class="font-bold nama-antre">{{$cookies.get("nama")}}</h3>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 number-antre">
          <h1>{{antreSuccess.nama}}</h1>
          <h4>your number</h4>
          <h1>{{antreSuccess.nomor}}</h1>
          <h4>Counter</h4>
          <h1>{{antreSuccess.poli}}</h1>
          <!-- <h3>Estimation : {{antreSuccess.estimation}}</h3> -->
        </div>
      </div>
      <div slot="footer">
        <btn class="btn btn-danger" @click="dataSuccess=false">Close</btn>
      </div>
    </modal>
    <!-- modal manual -->
     <modal v-model="manual" class="text-dark bg-grey" size="lg" @hide="filterpoli = ''" ref="modal" id="modal-demo" :backdrop="false">
       <div class="row">
         <div class="col-xs-12">
           <div class="form-group text-left">
              <label for="usr">Counter :</label>
              <input type="text" v-model="filterpoli" placeholder="Counter" class="form-control input-lg" id="usr">
            </div>
          </div> 
       </div>
      <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 card-wrap" v-for="(d,i) in filterdataPoli()" :key="i">
                <div class="card" @click="cardpoliClick(d.spotID,d.namaSpot,d.keterangan)">
                    <img class="card-img-top" :src="d.img">
                    <div class="card-block">
                        <h4 class="card-title">{{d.namaSpot}}</h4>
                        
                    </div>
                </div>
            </div>
      </div>
      <div slot="footer">
        <btn @click="manual=false">Close</btn>
      </div>
      <modal v-model="modalKonfirm" @hide="resetformAntreManual()" size="md" append-to-body ref="modal3" :backdrop="false">
        <form @submit.prevent="submitAlert">

          <h4>Counter : {{formmanual.namaPoli}}</h4>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group text-left">
                  <label for="usr">Name :</label>
                  <input v-model="formmanual.namaAntre" type="text" placeholder="Name" class="form-control input-lg" id="usr">
                </div>
              </div> 
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group text-left">
                  <label for="usr">Description:</label>
                  <input v-model="formmanual.keteranganAntre" type="text" placeholder="Description" class="form-control input-lg" id="usr">
                  <span class="hint">*{{formmanual.keteranganTexr}}</span>
                </div>
              </div> 
          </div>
        </form>
          <div slot="footer">
            <button class="btn btn-danger" :disabled="loadingSimpan" @click="modalKonfirm=false;">Close</button>
            <button class="btn btn-primary" :disabled="loadingSimpan" @click="submitAlert()">Simpan <i v-if="loadingSimpan" class="fas fa-circle-notch fa-spin"></i></button>
          </div>
      </modal>
     
     </modal>
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';
import { setTimeout } from 'timers';

export default {
  data(){
    return{
      dataCounter:[],
      dataSuccess:false,
      loadingBooking : false,
      loadingSimpan : false,
      rootImage: (process.env.NODE_ENV === 'production') ? 'https://antri.isn-speed.com/storage/gallery/' : 'http://192.168.0.108/Source/SPEED/node/storage/gallery/',
      dataImage:[{image: "1.jpg"}],
      manual:false,
      modalKonfirm:false,
      kodeAntre:'',
      formmanual:{
        namaAntre:'',
        keteranganAntre:'',
        idpoli:'',
        namaPoli:'',
        keteranganTexr:''
      },
      antreSuccess:{
        nama:'',
        poli:'',
        nomor:'',
        estimation:'',
      },
      filterpoli:'',
    }
  },
  created(){
    const loginStat = this.$cookies.get('id');
    if (!loginStat) {
      this.$router.push('/login');
    }
    var formdata = new FormData();
    formdata.append("user",this.$cookies.get('id'));
    this.getImage(formdata).then(res=>{
      this.dataImage = res.data[0];
    })
  },
  computed:{
    ...mapState(["API_URL"]),
    
  },
  methods:{
    ...mapActions("counter", ['getCounterKiosk']),
    ...mapActions("antre", ['getAntre',"submitAntre"]),
    ...mapActions('kiosk',['getBookingData']),
    ...mapActions('monitor',['getImage']),

    checkkode(){
      var self = this;
      self.loadingBooking = true;
      var fd = new FormData();
      fd.append('kode',this.kodeAntre);
      fd.append('site',this.$cookies.get("id"));
      this.getBookingData(fd).then(res=>{
        if(res.success){
          res = res.data;
          self.antreSuccess.nama = res.nama;
          self.antreSuccess.poli = res.counter;
          self.antreSuccess.nomor = res.no+res.initial;
          self.antreSuccess.estimation = res.estimasi;
          self.dataSuccess = true;
        }else{
          self.$swal({
            type: 'info',
            text: res.message,
          })
        }
        self.loadingBooking = false;
        
        console.log(antreSuccess);
      });
    },
    modalSucessHide(){
      this.antreSuccess.nama = '';
      this.antreSuccess.poli = '';
      this.antreSuccess.nomor = '';
      this.kodeAntre = '';  
      this.antreSuccess.estimation='';

    },
    manualCheckinShow(){
      var formdata = new FormData();
        formdata.append("user",this.$cookies.get("id"));
      this.getCounterKiosk(formdata).then(res=>{
        this.dataCounter = res.data;
      });
      console.log(this.dataCounter);
      this.manual = true;

    },
    filterdataPoli(){
      console.log(this.filterpoli);
      return this.dataCounter.filter(data => data.namaSpot.toLowerCase().includes(this.filterpoli.toLowerCase()));
    },

    cardpoliClick(idpoli,namaPoli,keterangan){
      var self = this;
      self.formmanual.idpoli = idpoli;
      self.formmanual.namaPoli = namaPoli;
      self.formmanual.keteranganTexr = keterangan;
      self.modalKonfirm = true;
    },
    submitAlert(){
      
      
      var html = "";
      html+="<p style='text-align:left'>Recomend : "+this.formmanual.keteranganTexr+"</p>";
      html+="<p style='text-align:left'>Your Data : "+this.formmanual.keteranganAntre+"</p>";
      this.$swal({
            html: html,
            type: 'question',
            title: 'Data Validation',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Oke'
          }).then((result) => {
            if (result) {
              this.submitAntreManual()
            }
          })
    },
    submitAntreManual(){ 
      var fd = new FormData;
      var self = this;
      self.loadingSimpan = true;
      var date = new Date();
      const month = date.getMonth() + 1;

      var sTgl = `${date.getFullYear()}-${month<=9 ? 0 :''}${month}-${date.getDate()<=9 ?0:'' }${date.getDate()}`;

      fd.append('tanggal',sTgl);
      fd.append('nama',self.formmanual.namaAntre);
      fd.append('keterangan',self.formmanual.keteranganAntre);
      fd.append('spot',self.formmanual.idpoli);
      fd.append('kiosk',1);
         self.submitAntre(fd).then(res=>{
            if(res.success){
              res = res.data;
              self.antreSuccess.nama = res.nama;
              self.antreSuccess.poli = res.spot;
              self.antreSuccess.nomor = res.no;
              self.antreSuccess.estimation = res.estimasi;
              // self.dataSuccess = true;


              self.modalKonfirm = false;
              self.manual = false;
              // self.dataSuccess = true;
              // window buat print
              var code = res.no ? res.no : '';
              var message = '<h3>Checkin Berhasil</h3>'+'Nomor Antrian <h1><b>'+res.no+'</b></h1>';
              self.$swal({
                html: message,
                type: 'success',
                title: 'Berhasil',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Oke',
                confirmButtonText: 'Print'
              }).then((result) => {
                if (result) {
                  window.open(self.API_URL+"/cetak/cetak.php?id_antre="+res._antreId_baru);
                }
              })
            }else{
              self.$swal({
                type: 'info',
                text: res.message,
              })
            }
            self.loadingSimpan = false
          });
      
    },
    resetformAntreManual(){
      
      this.formmanual.namaAntre = '';
      this.formmanual.keteranganAntre = '';
      this.formmanual.idpoli = '';
      this.formmanual.namaPoli = '';
      this.formmanual.keteranganTexr = '';

      
    }
    
  },

}
</script>
<style>
.bg-grey .modal-content{
  background: #ecf0f1 !important;
}
</style>

<style lang="scss" scoped>
.card-block{
  min-height: 95px;
}
.hint{
  display: block;
  font-style: italic;
}
// card
.card-wrap{
  margin-top: 20px;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    max-height: 194px;
    min-height: 194px;
    object-fit:cover;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
// endcard
// color
.text-white{
  color: #fff;
}
.text-dark{
  color: #000
}
.font-bold{
  font-weight: bolder
}
.number-antre{
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
  background: #fff;
  text-align: center;
}
.carousel{

    img {
      width: 100%;
      height: 100%;
       object-fit: cover;
    }
}
.booking{
  margin: 50px 20px;
}
.booking-card{
  border-radius: 5px;
  padding: 20px;
  color: #000;
  background: #fff;
}
  .wrapper{
    position: relative;
    background: #2980b9;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .center-content{
    position: absolute;
    top: 50%;

    text-align: center;
    transform: translateY(-50%);
    width: 100%;
  }
  
</style>
<style lang="scss">
.swal2-container{
    z-index: 9999 !important;
  }
</style>
