<template>
    <div class="container__login">
        <div class="login">
            <img class="login__logo" src="../assets/logo.png" />
            <form v-on:submit.prevent="login" class="login__form" action="#">
                <input
                    id="username" class="login__form__input"
                    type="text" v-model="username" placeholder="username" />
                <input
                    class="login__form__input"
                    type="password" v-model="password" placeholder="password" />
                <select name="" id="" class="login__form__input" v-model="jenisLogin">
                  <option value="1">Login User</option>
                  <option value="0">Login TV</option>
                </select>
            
                <button :disabled="loading" class="login__form__btn" type="submit">LOGIN <i v-if="loading" class="fas fa-circle-notch fa-spin"></i></button>
            </form>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      jenisLogin:'1',
      loading:false,
    };
  },
  created() {
    setTimeout(() => {
      document.getElementById('username').focus();
    }, 200);
  },
  methods: {
    ...mapActions('login', ['getlogin','getloginTv']),
    alertNotif(title, type, text) {
      this.$swal({
        heightAuto: false,
        title,
        type,
        text,
      });
    },
    login() {
      this.loading = true
      const formdata = new FormData();
      const self = this;
      formdata.append('un', this.username);
      formdata.append('pw', this.password);
      // console.log(formdata.get('un'));
      if(this.jenisLogin ==1){
        this.getlogin(formdata).then((res) => {
          if (res.success) {
            self.$cookies.set('id', res.data._siteId);
            self.$cookies.set('mail', res.data._emailSite);
            self.$cookies.set('nama', res.data._namaSite);
            self.$cookies.set('theme', res.data._tema);
            localStorage.setItem("voice", JSON.stringify([]));
            localStorage.setItem("nomor", JSON.stringify([]));
            localStorage.setItem("poli", JSON.stringify([]));
            this.$router.push('/');
          } else {
            self.alertNotif('Kesalahan', 'warning', res.msg);
          }
          this.loading = false
        });
      }else if(this.jenisLogin==0){
        this.getloginTv(formdata).then((res) => {
          if (res.success) {
            self.$cookies.set('id', res.data._siteId,60 * 60 * 18);
            self.$cookies.set('mail', res.data._emailSite,60 * 60 * 18);
            self.$cookies.set('nama', res.data._namaSite,60 * 60 * 18);
            self.$cookies.set('theme', res.data._tema,60 * 60 * 18);
            self.$cookies.set('iduser', res.data._idUser,60 * 60 * 18);
            
            this.$router.push('/monitor');
          } else {
            self.alertNotif('Kesalahan', 'warning', res.msg);
          }
          this.loading = false
        });
      }
      
    },
  },
};
</script>
<style lang="scss" scoped>
    .container__login {
      display: flex;
      align-items: center;
      padding-top: 10%;
      justify-content: center;
      padding-top: 10%;
      width: 100%;
      height: 100%;
    }
    .login {
      position: relative;
      z-index: 2;
      text-align: center;
      width: 400px;
      margin: auto;
      padding: 50px 10px;

      border-radius: 3px;
      background: #fff;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,.3);

      &__logo {
        max-width: 200px;
        max-height: 200px;
        margin: 0;
        padding: 0;

        color: #2c3e50;
      }

      &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        margin-top: 20px;

        &__input {
          font-size: 1em;

          width: 78%;
          margin: 10px 0;
          padding: 10px;

          transition: .3s ease-in-out;

          border: 0;
          border-bottom: 1px solid #fff;
          outline: none;

          &:focus {
            transition: .3s ease-in-out;

            border-bottom: 1px solid #3498db;
          }
        }

        &__btn {
          font-size: 1em;

          width: 84%;
          margin-top: 5px;
          padding: 10px;

          cursor: pointer;
          transition: .3s ease-in-out;

          color: #fff;
          border: 0;
          border-radius: 3px;
          outline: 0;
          background: #3498db;

          &:hover {
            transition: .3s ease-in-out;

            background: rgba($color: #3498db, $alpha: .8);
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .login {
        width: 330px;
      }
    }

    @media only screen and (max-width: 568px) {
      .login {
        width: 280px;

        &__logo {
          max-height: 180px;
        }
      }
    }

</style>
