<template>
  <div class="wrapper_monitor row " v-bind:class="theme">
    <div class="col-xs-12">
      <div class="row">

      <div class="header col-xs-12">
        <div class="logo">
          <img src="../assets/logo.png" alt="">
        </div>
        <div class="header-content">
          <h3>
          {{nama}}
        
          </h3>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-antre"  v-if="card.length <= 6">
        <div class="row">
          <div class="col-md-6 col-lg-8 col-lg-push-4 col-md-push-6 wrapper-carousel">
            <section class="container-card-top">
              <carousel :indicators="true" :controls="true" :interval="2000" ref="carousel">
                <slide v-for="(slide, index) in dataImage" :key="index">
                  <div style="width: 100%;height: 100%;">
                    <img  style="width: 100%;" :src="`${rootImage}${slide.image}`" alt="">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </slide>
              </carousel>
            </section>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-pull-8 col-md-pull-6">
            <div class="theme-dark-2 card-small utama main-card-small container-card-top">
                <div class="card-title-small">
                  Panggilan Saat Ini
                </div>
                <div class="card-number-small ">
                  {{`${cardDepan._initial}${cardDepan.noAntre}`}}
                </div>
                <div class="card-footer-small">
                    {{cardDepan.namaSpot}}
                  </div>
            </div>
          </div>
          
        </div>
        <div class="container-antre row">
          <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
            <div class="card-small">

              <div class="card-title-small">
                {{`${d.namaSpot}`}}
              </div>
              <div class="box-number">
                <div class="card-number-small">
                  {{`${d._initial}${d.noAntre}`}}
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    <div class="content-antre"   v-if="card.length > 6 && card.length <= 10">
      <div class="container-antre row">
        <div class="col-md-6 col-lg-6">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-3 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-antre"   v-if="card.length > 10 && card.length <= 16">
      <div class="container-antre row">
        <div class="col-md-6 col-lg-4">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="content-antre"   v-if="card.length > 16">
       
      <div class="container-antre row">
        <div class="col-md-6 col-lg-4">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    </div>

    
    <div class="runing-text">
      <marquee behavior="scrol" direction="left">Selamat Datang di {{$cookies.get('nama')}}. Kami memiliki pelayanan yang terbagi pada Counter <span v-for="(d,i) in card" :key="i">{{`${d.namaSpot}, `}}</span>  Kami melayani dengan sepenuh hati.</marquee>
    </div>
  </div>
</template>
<script>

import {mapActions,mapState} from 'vuex';
import {messaging} from '../firebaseset';

export default {
  
  name: 'antre',

  data(){
    return {
      testing : 0,
      nama : this.$cookies.get("nama"),
      theme:"theme-dark-2",
      rootImage: (process.env.NODE_ENV === 'production') ? 'https://antri.isn-speed.com/storage/gallery/' : 'http://192.168.0.108/Source/SPEED/node/storage/gallery/',
      dataImage:[{image: "1.jpg"}],
      // cardDepan : {
      //   namaSpot:"",
      //   _initial:"",
      //   noAntre:"",
      // },
      card : [],
    }
  },
  computed:{
    ...mapState("monitor", ["cardDepan","isVoice"]),
    
  },
  methods:{
    ...mapActions('monitor',['getImage','getAntre',"setToken","doSetCardDepan","setisVouce"]),
    getToken() {
      var formdata = new FormData;
      formdata.append('user',this.$cookies.get("iduser"));
      const self = this;
      messaging.getToken()
      .then(function(token) {

        if (token) {
          formdata.append("token",token);
          self.setToken(formdata).then(res=>{
            if(!res.success){
              console.log("error save token");
            }
          })
          
        }else{
          self.requestPermission();
        }
      })
      .catch(function(err) {
        console.log('Unable to retrieve refreshed token ', err);
      });

    },
    requestPermission() {
      const self = this;
      messaging.requestPermission()
      .then(function() {
        self.getToken();
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });
    },
    async onMessage(){
      
      const self = this;      
      var formdata = new FormData();
      messaging.onMessage(async function(payload) {
        console.log("Message received. ", payload.notification);

        var isi = JSON.parse(payload.notification.body);
        const notificationTitle = payload.notification.title;
        const nomor  = isi.no;
        const poli  = isi.poli;
        const daterime  = isi.daterime;

        var voice = "Nomor, antrian ,  "+nomor+" , silakan, menuju , konter , "+poli;
         if (typeof(Storage) !== "undefined") {
          
          var voicestorage = JSON.parse(localStorage.getItem("voice"));
          var nomorstorage = JSON.parse(localStorage.getItem("nomor"));
          var polistorage = JSON.parse(localStorage.getItem("poli"));
          var daterimestorage = JSON.parse(localStorage.getItem("daterime"));
          // console.log(voicestorage != null && voicestorage.length);
          if(voicestorage != null && voicestorage.length){
            // console.log("masuk if");
            // voicestorage = (voicestorage);
            if(!daterimestorage.includes(daterime)) {
              console.log('masuk');
              voicestorage.push(voice);
              nomorstorage.push(nomor);
              polistorage.push(poli);
              daterimestorage.push(daterime);
            }

            localStorage.setItem("voice", JSON.stringify(voicestorage));
            localStorage.setItem("nomor", JSON.stringify(nomorstorage));
            localStorage.setItem("poli", JSON.stringify(polistorage));
            localStorage.setItem("daterime", JSON.stringify(daterimestorage));
            
            if(!self.isVoice){
              self.callVoice();
            }
          }else{
            self.setisVouce(true);
            
            // set data
            voicestorage = [voice];
            nomorstorage = [nomor];
            polistorage = [poli];
            daterimestorage = [daterime]

            localStorage.setItem("voice", JSON.stringify(voicestorage));
            localStorage.setItem("nomor", JSON.stringify(nomorstorage));
            localStorage.setItem("poli", JSON.stringify(polistorage));
            localStorage.setItem("daterime", JSON.stringify(daterimestorage));

            // load data to view
            // console.log("set card depan : ");
            // console.group();
            formdata.append("user",self.$cookies.get('id'));
            let dataset = {
              namaSpot: polistorage[0],
              _initial: '',
              noAntre: nomorstorage[0]
            }
            self.doSetCardDepan(dataset);
            // self.cardDepan.namaSpot = polistorage[0];
            // console.log("onmessage polistorage[0] = "+polistorage[0]);
            // self.cardDepan._initial = '';
            // self.cardDepan.noAntre = nomorstorage[0];
            // console.log("onmessage nomorstorage[0] = "+nomorstorage[0]);
            // console.log("card depan set = ");
            // console.log(self.cardDepan);
            // console.groupEnd();

            self.getAntre(formdata).then(res=>{
              // console.log("response get antre")
              // console.group();
              // console.log(res);
              self.doSetCardDepan(res.depan[0]);
              // console.groupEnd();
              // self.cardDepan = res.depan[0];
              self.card = res.data;
            })
            // ==============================
            //  start voice
            // ==============================
            await self.delay(1).then(()=>{
              var audio = new Audio('https://clientq.isn-speed.com/media/notif.mp3');
              var playPromise = audio.play();
              if (playPromise !== undefined) {
                playPromise.then(_ => {
                  // console.log("audio played");
                })
                .catch(error => {
                  console.log(error);
                });
              }
              setTimeout(
                  function() {
                    responsiveVoice.speak(voicestorage[0], "Indonesian Female",{rate: 0.8});
                  }, 3000);
            });

            await self.delay(9000).then(()=>{
              var voicestorage = JSON.parse(localStorage.getItem("voice"));
              // console.log("voice on message =");
              // console.log(voicestorage);
              var nomorstorage = JSON.parse(localStorage.getItem("nomor"));
              var polistorage = JSON.parse(localStorage.getItem("poli"));
              var daterimestorage = JSON.parse(localStorage.getItem("daterime"));
              voicestorage.splice(0, 1);
              nomorstorage.splice(0, 1);
              polistorage.splice(0, 1);
              daterimestorage.splice(0, 1);
              // console.log("sudah ter splice on message")
              // console.log("voice on message setelah di splice = ");
              // console.log(voicestorage);
              localStorage.setItem("voice", JSON.stringify(voicestorage));

              localStorage.setItem("nomor", JSON.stringify(nomorstorage));
              localStorage.setItem("poli", JSON.stringify(polistorage));
              localStorage.setItem("daterime", JSON.stringify(daterimestorage));

              self.callVoice();
              // console.log("end dari card depan");
              // console.log(this.cardDepan);
            //  return true
            });

          }
          

        }else{
          console.error("Local storage not suported on this browser");
        }
        // console.log("end card depan");
        // console.log(this.cardDepan);
        return true;
        // responsiveVoice.speak(" Nomor antrian", "Indonesian Female");
        // responsiveVoice.speak(" "+nomor, "Indonesian Female");
        // responsiveVoice.speak(" silakan menuju", "Indonesian Female");
        // responsiveVoice.speak(" konter "+poli, "Indonesian Female");
       
        
        
      });
      
    },
    delay(t, v) {
      return new Promise(function(resolve) { 
          setTimeout(resolve.bind(null, v), t)
      });
    },
    async callVoice(){

      var formdata = new FormData();
      // console.log("callvoice");
      var self = this;
      // getlocal storage
      var voicestorage = JSON.parse(localStorage.getItem("voice"));
      var nomorstorage = JSON.parse(localStorage.getItem("nomor"));
      var polistorage = JSON.parse(localStorage.getItem("poli"));
      var daterimestorage = JSON.parse(localStorage.getItem("daterime"));
      // console.log("voice on callvoice =");
      // console.log(voicestorage);
      // check local storage
      if (typeof(Storage) !== "undefined") {
        if(voicestorage != null && voicestorage.length){
          
          self.setisVouce(true);

          // console.log("masuk if callvoice");

          formdata.append("user",self.$cookies.get('id'));
            // console.log("set card depan : ");
            // console.group();

            formdata.append("user",self.$cookies.get('id'));
            
            formdata.append("user",self.$cookies.get('id'));
            let dataset = {
              namaSpot: polistorage[0],
              _initial: '',
              noAntre: nomorstorage[0]
            }
            self.doSetCardDepan(dataset);
            // self.cardDepan.namaSpot = polistorage[0];
            // // console.log("onmessage polistorage[0] = "+polistorage[0]);
            // self.cardDepan._initial = '';
            // self.cardDepan.noAntre = nomorstorage[0];
            // console.log("onmessage nomorstorage[0] = "+nomorstorage[0]);
            // console.log("card depan set= ");
            // console.log(self.cardDepan);

            // console.groupEnd();

            self.getAntre(formdata).then(res=>{
              // console.log("response get antre")
              // console.group();
              // console.log(res);
              // console.groupEnd();
              self.card = res.data;
            })
            // ==============================
            //  start voice
            // ==============================
            
            await self.delay(500).then(()=>{
              var audio = new Audio('http://clientq.isn-speed.com/media/notif.mp3');
              var playPromise = audio.play();
              if (playPromise !== undefined) {
                playPromise.then(_ => {
                  // console.log("audio played");
                })
                .catch(error => {
                  console.log(error);
                });
              }
              setTimeout(
                  function() {
                    responsiveVoice.speak(voicestorage[0], "Indonesian Female",{rate: 0.8});
                  }, 3000);
            });
            await self.delay(9000).then(()=>{
              voicestorage = JSON.parse(localStorage.getItem("voice"));
              nomorstorage = JSON.parse(localStorage.getItem("nomor"));
              polistorage = JSON.parse(localStorage.getItem("poli"));
              daterimestorage = JSON.parse(localStorage.getItem("daterime"));

              voicestorage.splice(0, 1);
              nomorstorage.splice(0, 1);
              polistorage.splice(0, 1);
              daterimestorage.splice(0, 1);

              localStorage.setItem("voice", JSON.stringify(voicestorage));
              localStorage.setItem("nomor", JSON.stringify(nomorstorage));
              localStorage.setItem("poli", JSON.stringify(polistorage));
              localStorage.setItem("daterime", JSON.stringify(daterimestorage));
              // console.log("masuk splice  call");
              self.callVoice();
            });
            // console.log("end dari card depan");
            // console.log(this.cardDepan);
        }else{
          // console.log("tudak ada data di storage call voice")
          return false;
        }
      }else{
        // console.error("Local storage not suported on this browser");

      }
      
      return false;
    }
    
  },
  
  created() {
    if (typeof(Storage) !== "undefined") {
            localStorage.setItem("voice", JSON.stringify([]));
            localStorage.setItem("nomor", JSON.stringify([]));
            localStorage.setItem("poli", JSON.stringify([]));
            localStorage.setItem("daterime", JSON.stringify([]));
    }
    this.setisVouce(false);
    this.getToken();
    this.onMessage();
    var formdata = new FormData();
    formdata.append("user",this.$cookies.get('id'));
    this.getImage(formdata).then(res=>{
      this.dataImage = res.data[0];
    })
    this.getAntre(formdata).then(res=>{
      // this.cardDepan = res.depan[0];
      this.doSetCardDepan(res.depan[0]);
      this.card = res.data;
    })
    
    const loginStat = this.$cookies.get('id');
    if (!loginStat) {
      this.$router.push('/login');
    }
  },
};
</script>
<style lang="scss">
.wrapper_monitor{
  min-height: 100vh;
  position: relative;
}
.container-card-top{
  height: 350px !important;
}
.container-card-top .utama{
  position: relative !important;
}
.utama>.card-number-small {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
}
.wrapper-carousel>section{
      margin: 15px;
}
.carousel{
  height: 100%;
}
.carousel-inner{
  height: 100% !important;
  & > .item{
    height: 100%;
  }
  & img{
    height: 100%;
  }
}

</style>

<style lang="scss" scoped>

@media only screen and (min-width: 1200px) {
  body{
    overflow: hidden !important;
  }
}
div {
  display: block;
}
.antre-wrapper {
  position: relative;
    margin-bottom: 55px;
  width: 100%;
  min-height: 100vh;

  text-align: left;

  background: #ecf0f1;
  &.loket,
  &.slider {
    height: 100%;
  }
  &.slider {
    height: 200px;
  }
}

.header {
  width: 100%;
  height: 80px;

  background: #2980b9;

  & .logo > img {
    float: left;

    width: 50px;
    height: 50px;
    margin: 15px;
  }

  & .header-content {
    float: left;

    width: calc(100% - 80px);
    height: 100%;
    padding: 10px 0 !important;

    text-align: center;

    color: #fff;
  }
  & .header-content > h4 {
    text-align: center;
  }
}

.card {
  padding: 0;
  position: relative;
  text-align: center;
  & .main-card-title {
     background-color: #3498db !important;
  }
  & .main-card-footer {
      font-size: 35px;
      font-weight: bold;
      line-height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      color: #fff;
      border-bottom: 1px solid #bdc3c7;
      background-color: #f39c12;
      display: block;
  }
  & .card-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 100px;

    height: 100px;

    vertical-align: center;

    color: #fff;
    border-bottom: 1px solid #bdc3c7;
    background-color: #27ae60;
  }
  & .card-subtitle {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
  }
  & .card-number {
    font-size: 80px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50%;
  }
}
.content-antre {
  display: inline-block;
  // min-height: 100vh;
  width: 100%;
  // height: calc(100% - 130px);
  padding: 10px;
}
.top-banner {
  width: 100%;
  height: 60%;
  padding: 10px 0;
  &::after {
    display: table;
    clear: both;

    content: '';
  }
  & > div:nth-child(n) {
    float: left;

    height: 100% ;
    min-height: 100% ;
    max-height: 100% ;
  }
  & .loket {
    // width: calc(30% - 30px);
  }
  & .slider {
    position: relative;
    width: calc(70% - 30px);
    & section,.asd{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    & img {
      width: 100%;
       object-fit: cover;
    }
  }
}
.bottom-banner {
  width: 100%;
  height: 40%;
  padding: 10px 0;
  & > .card:nth-child(n) {
    float: left;

    width: calc((100% / 5) - 30px);
    height: 100%;
  }
  & > .card > .card-title {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
  }
  & > .card > .card-number {
    font-size: 50px;

    height: calc(100% - 80px);
  }
}
.runing-text {
  font-size: 18px;

  position: fixed;
  z-index: 9;
  bottom: 0;

  width: 100%;
  padding: 15px 10px 10px 10px;

  color: #fff;
  background-color: #2c3e50;
}
.header-content>h3{
  font-weight:bold;
  margin-top:15px;
}
// carousel
// .VueCarousel-pagination{
//       width: 100%;
//     text-align: center;
//     position: absolute;
//     bottom: 0;
// }
// card when more than 5
// .bottom-banner > .card:nth-child(n) {
    
// }
.main-card-small{
    // width: calc(((100% / 6) - 15px)*2) !important;  
    & .card-title-small{
      background-color: #3498db !important;

    }
}
.card-small {
  margin: 15px;
  position: relative;
  height: 161px;
  background: #fff;
  // padding: 0;

  text-align: center;

  & .card-title-small {
    padding: 10px;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 1;

    height: 60px;

    vertical-align: center;

    // color: #fff;
    border-bottom: 1px solid #bdc3c7;
    background-color: #27ae60;
  }
  & .card-footer-small {
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #202830;
    border-bottom: 1px solid #bdc3c7;
    display: block;
  }
  & .card-subtitle-small {
    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
  }
  & .box-number{
    position: relative;
    height: calc(100% - 50px);
  }
  & .card-number-main-small{
    font-size: 3vw !important;
  }
  & .card-number-small {
    font-size: 50px;

    font-weight: bold;
  }
}
/*==================================================
    theme
============================================*/


.theme-dark{
  background-color: #2980b9;
  & .card-footer-small {
    background-color: #f39c12;
    color: #000 !important;
    
  }
  & .card-small{
    color: #fff;
    background-color: #2c3e50 !important;
    & .card-title-small{
      background: #f39c12 !important;
      color: #000;
    }
  }
  & .main-card-small>.card-title-small{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }

  & .top-banner>.loket{
    background-color: #2c3e50 !important;
    color: #000;

  }
  &>.bottom-banner>.card{
    background-color: #2c3e50 !important;
    color: #ecf0f1;

  }
  & .card-title{
    background: #f39c12 !important
  }
  & .main-card-title{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }
}

.theme-dark-2{
  & .card-footer-small {
    background-color: #0c2238;
    color: #fff !important;
    
  }
  background-color: #34495e;
  & .card-small{
    color: #202830;
    background-color: #7f8c8d !important;
    & .card-title-small{
      background: #0c2238 !important;
      color:#fff !important;
    }
  }
  & .main-card-small>.card-title-small{
    background-color: #cae1f1 !important;
    color: #2c3e50 !important;
  }

  & .top-banner>.loket{
    background-color: #2c3e50 !important;
    color: #2c3e50;

  }
  &>.bottom-banner>.card{
    background-color: #2c3e50 !important;
    color: #2c3e50;

  }
  & .card-title{
    background: #0c2238 !important;
    color: #fff !important;
  }
  & .main-card-title{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }
}

</style>
