<template>
  <div class="wrapper_monitor row " v-bind:class="theme">
    <div class="col-xs-12">
      <div class="row">

      <div class="header col-xs-12">
        <div class="logo">
          <img src="../assets/logo.png" alt="">
        </div>
        <div class="header-content">
          <h3>
          {{nama}}
          </h3>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-antre"  v-if="card.length <= 6">
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6 col-lg-8 col-lg-push-4 col-md-push-6 wrapper-carousel">
            <section class="container-card-top">
              <carousel :indicators="true" :controls="true" :interval="2000" ref="carousel">
                <slide v-for="(slide, index) in dataImage" :key="index">
                  <div style="width: 100%;height: 100%;">
                    <img  style="width: 100%;" :src="`${rootImage}${slide.image}`" alt="">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </slide>
              </carousel>
            </section>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-pull-8 col-md-pull-6">
            <div class="theme-dark-2 card-small utama main-card-small container-card-top">
                <div class="card-title-small">
                  Panggilan Saat Ini
                </div>
                <div class="card-number-small ">
                  {{`${cardDepan._initial}${cardDepan.noAntre}`}}
                </div>
                <div class="card-footer-small">
                    {{cardDepan.namaSpot}}
                  </div>
            </div>
          </div>
          
        </div>
        <div class="container-antre row">
          <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
            <div class="card-small">

              <div class="card-title-small">
                {{`${d.namaSpot}`}}
              </div>
              <div class="box-number">
                <div class="card-number-small">
                  {{`${d._initial}${d.noAntre}`}}
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    <div class="content-antre"   v-if="card.length > 6 && card.length <= 10">
      <div class="container-antre row">
        <div class="col-md-6 col-lg-6">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-3 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-antre"   v-if="card.length > 10 && card.length <= 16">
      <div class="container-antre row">
        <div class="col-md-6 col-lg-4">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="content-antre"   v-if="card.length > 16">
       
      <div class="container-antre row">
        <div class="col-md-6 col-lg-4">
          <div class="card-small main-card-small">
              <div class="card-title-small">
                Panggilan Saat Ini
              </div>
              <div class="card-number-small ">
                {{`${cardDepan._initial}${cardDepan.noAntre}`}}
              </div>
              <div class="card-footer-small">
                  {{cardDepan.namaSpot}}
                </div>
          </div>
        </div>
        <div v-for="(d,i) in card" :key="i" class="col-lg-2 col-md-6 col-sm-6">
          <div class="card-small">

            <div class="card-title-small">
              {{`${d.namaSpot}`}}
            </div>
            <div class="box-number">
              <div class="card-number-small">
                {{`${d._initial}${d.noAntre}`}}
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    </div>

    
    <div class="runing-text">
      <marquee behavior="scrol" direction="left">Selamat Datang di {{$cookies.get('nama')}}. Kami memiliki pelayanan yang terbagi pada Counter <span v-for="(d,i) in card" :key="i">{{`${d.namaSpot}, `}}</span>  Kami melayani dengan sepenuh hati.</marquee>
    </div>
  </div>
</template>
<script>

import {mapActions,mapState} from 'vuex';
import {messaging} from '../firebaseset';

export default {
  
  name: 'antre',

  data(){
    return {
      nama : this.$cookies.get("nama"),
      // theme:this.$cookies.get("theme"),
      theme:'theme-dark-2',
      rootImage: (process.env.NODE_ENV === 'production') ? 'https://antri.isn-speed.com/storage/gallery/' : 'http://192.168.0.108/Source/SPEED/node/storage/gallery/',
      dataImage:[{image: "1.jpg"}],
      cardDepan : {
        namaSpot:"",
        _initial:"",
        noAntre:"",
      },
      card : [],
    }
  },
  methods:{
    ...mapActions('monitor',['getImage','getAntre',"setToken","getAntreUmum","getThemeUmum"]),
    
  },
  
  created() {
    var formdata = new FormData();
    formdata.append("email",this.$route.params.id);
    this.getImage(formdata).then(res=>{
      this.dataImage = res.data[0];
    })
    this.getThemeUmum(formdata).then(res=>{
      this.theme = res.data._tema;
      this.nama = res.data._namaSite;
    });
    this.getAntreUmum(formdata).then(res=>{
      this.cardDepan = res.depan[0];
      this.card = res.data;
    })
    
  },
};
</script>
<style lang="scss">
.container-card-top{
  height: 350px !important;
}
.container-card-top .utama{
  position: relative !important;
}
.utama>.card-number-small {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
}
.wrapper-carousel>section{
      margin: 15px;
}
.carousel{
  height: 100%;
}
.carousel-inner{
  height: 100% !important;
  & > .item{
    height: 100%;
  }
  & img{
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  // body{
  //   overflow: hidden !important;
  // }
  .card-small .card-title-small {
    font-size: 10px !important;
  }
}
</style>

<style lang="scss" scoped>


div {
  display: block;
}
.antre-wrapper {
  position: relative;
    margin-bottom: 55px;
  width: 100%;
  min-height: 100vh;

  text-align: left;

  background: #ecf0f1;
  &.loket,
  &.slider {
    height: 100%;
  }
  &.slider {
    height: 200px;
  }
}

.header {
  width: 100%;
  height: 80px;

  background: #2980b9;

  & .logo > img {
    float: left;

    width: 50px;
    height: 50px;
    margin: 15px;
  }

  & .header-content {
    float: left;

    width: calc(100% - 80px);
    height: 100%;
    padding: 10px 0 !important;

    text-align: center;

    color: #fff;
  }
  & .header-content > h4 {
    text-align: center;
  }
}

.card {
  padding: 0;
  position: relative;
  text-align: center;
  & .main-card-title {
     background-color: #3498db !important;
  }
  & .main-card-footer {
      font-size: 35px;
      font-weight: bold;
      line-height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      color: #fff;
      border-bottom: 1px solid #bdc3c7;
      background-color: #f39c12;
      display: block;
  }
  & .card-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 100px;

    height: 100px;

    vertical-align: center;

    color: #fff;
    border-bottom: 1px solid #bdc3c7;
    background-color: #27ae60;
  }
  & .card-subtitle {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
  }
  & .card-number {
    font-size: 80px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50%;
  }
}
.content-antre {
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  height: calc(100% - 130px);
  padding: 10px;
}
.top-banner {
  width: 100%;
  height: 60%;
  padding: 10px 0;
  &::after {
    display: table;
    clear: both;

    content: '';
  }
  & > div:nth-child(n) {
    float: left;

    height: 100% ;
    min-height: 100% ;
    max-height: 100% ;
  }
  // & .loket {
  //   // width: calc(30% - 30px);
  // }
  & .slider {
    position: relative;
    width: calc(70% - 30px);
    & section,.asd{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    & img {
      width: 100%;
       object-fit: cover;
    }
  }
}
.bottom-banner {
  width: 100%;
  height: 40%;
  padding: 10px 0;
  & > .card:nth-child(n) {
    float: left;

    width: calc((100% / 5) - 30px);
    height: 100%;
  }
  & > .card > .card-title {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
  }
  & > .card > .card-number {
    font-size: 50px;

    height: calc(100% - 80px);
  }
}
.runing-text {
  font-size: 18px;

  position: fixed;
  z-index: 9;
  bottom: 0;

  width: 100%;
  padding: 15px 10px 10px 10px;

  color: #fff;
  background-color: #2c3e50;
}
.header-content>h3{
  font-weight:bold;
  margin-top:15px;
}
// carousel
// .VueCarousel-pagination{
//       width: 100%;
//     text-align: center;
//     position: absolute;
//     bottom: 0;
// }
// card when more than 5
// .bottom-banner > .card:nth-child(n) {
    
// }
.main-card-small{
    // width: calc(((100% / 6) - 15px)*2) !important;  
    & .card-title-small{
      background-color: #3498db !important;

    }
}
.card-small {
  margin: 15px;
    position: relative;
    height: 161px;

  background: #fff;
  padding: 0;
    // float: left;
    // width: calc((100% / 6) - 30px);
  text-align: center;

  & .card-title-small {
    padding: 10px;
    font-size: 20px !important;
    font-weight: bold;
    line-height: 1;

    height: 60px;

    vertical-align: center;

    color: #fff;
    border-bottom: 1px solid #bdc3c7;
    background-color: #27ae60;
  }
  & .card-footer-small {
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #fff;
    border-bottom: 1px solid #bdc3c7;
    background-color: #f39c12;
    display: block;
  }
  & .card-subtitle-small {
    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
  }
  & .box-number{
    position: relative;
    height: calc(100% - 50px);
  }
  & .card-number-main-small{
    font-size: 3vw !important;
  }
  & .card-number-small {
    font-size: 60px;
    font-weight: bold;
  }
}
/*==================================================
    theme
============================================*/


.theme-dark{
  background-color: #2980b9;
  & .card-small{
    color: #ecf0f1;
    background-color: #2c3e50 !important;
    & .card-title-small{
      background: #f39c12 !important
    }
  }
  & .main-card-small>.card-title-small{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }

  & .top-banner>.loket{
    background-color: #2c3e50 !important;
    color: #ecf0f1;

  }
  &>.bottom-banner>.card{
    background-color: #2c3e50 !important;
    color: #ecf0f1;

  }
  & .card-title{
    background: #f39c12 !important
  }
  & .main-card-title{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }
}

.theme-dark-2{
  & .card-footer-small {
    background-color: #0c2238;
    color: #fff !important;
    
  }
  background-color: #34495e;
  & .card-small{
    color: #202830;
    background-color: #7f8c8d !important;
    & .card-title-small{
      background: #0c2238 !important;
      color:#fff !important;
    }
  }
  & .main-card-small>.card-title-small{
    background-color: #cae1f1 !important;
    color: #2c3e50 !important;
  }

  & .top-banner>.loket{
    background-color: #2c3e50 !important;
    color: #2c3e50;

  }
  &>.bottom-banner>.card{
    background-color: #2c3e50 !important;
    color: #2c3e50;

  }
  & .card-title{
    background: #0c2238 !important;
    color: #fff !important;
  }
  & .main-card-title{
    background-color: #cae1f1 !important;
    color: #2c3e50;
  }
}


</style>
