<template>
  <div class="content-row">
    <router-link to="/" class="button-back">
      <img src="../assets/baseline_keyboard_backspace_white_36dp.png" alt="Back">
    </router-link>
    <div class="table-wrapper card">
      <div class="title-table">
        <span>Data Report</span>
      </div>
      <div class="content-table">
        <div class="search-box">
          <select @change="loadReport" name="bulan" v-model="sBulan" class="search-box-select filter-input" id="bulan">
            <option v-for="(d,i) in bulan" :key="i" :value="i+1">{{d}}</option>
          </select>
          <select @change="loadReport" name="tahun" v-model="sTahun" class="search-box-select filter-input" id="bulan">
            <option v-for="(d,i) in dataTahun" :key="i" :value="d.tahun">{{d.tahun}}</option>
          </select>
          <div @click="resetFilter" class="btn-refersh">
            <img
              src="../assets/baseline_refresh_black_18dp.png"
              alt="refresh" width="20px" height="20px">
          </div>
        </div>
        <div class="button-wrap">

          <a :href="`${API_URL}/report_cetak.php?user=${idUser}&tahun=${sTahun}&bulan=${sBulan}`" target="blank" class="btn btn-blue">Cetak</a>
          <a :href="`${API_URL}/report_excel.php?user=${idUser}&tahun=${sTahun}&bulan=${sBulan}`" target="blank" class="btn btn-green">Excel</a>

          <router-link to="/dashboard" class="btn btn-primary">
            dashboard
          </router-link>
        </div>
        <div class="table-responsive">
          <h3>Total Tagihan Bulan {{bulan[sBulan-1]}} : {{dataReport.tagihan}}</h3>
          <table>
            <tr>
              <th>No</th>
              <th>Tanggal</th>
              <th>Daftar</th>
              <th>Check In</th>
            </tr>
            <tr v-for="(d,i) in dataReport.data" :key="i">
              <td>{{i+1}}</td>
              <td>{{d.tgl}}</td>
              <td>{{d.daftar}}</td>
              <td>{{d.check}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
export default {
  name: 'Report',
  data() {
    return {
      sTahun: '',
      idUser:'',
      sBulan: '',
      bulan:[
        "Januari",
        "Pebruari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ]
    };
  },
  created(){
    this.resetFilter();
    this.idUser=this.$cookies.get("id");
  },
  computed:{
    ...mapState("tahun", ["dataTahun"]),
    ...mapState("report", ["dataReport"]),
    ...mapState(["API_URL"]),
  },
  methods:{
    ...mapActions("tahun",["getTahun"]),
    ...mapActions("report",["getReport"]),
    loadReport(){
      var formdata = new FormData();
      formdata.append("bulan",this.sBulan);
      formdata.append("tahun",this.sTahun);
      formdata.append("user",this.$cookies.get("id"));
      this.getReport(formdata);
    },
    async resetFilter(){
      var d = new Date();
      this.sBulan = d.getMonth()+1;
      await this.getTahun();
      if(this.dataTahun.length)
        this.sTahun = this.dataTahun[0].tahun;
      this.loadReport();
    },
  }
};
</script>
<style lang="scss" scoped>
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  float: left;
  border: 0px transparent;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;

  border-radius: 3px;
}
.btn-blue {
  color: #fff;
  background-color: #2980b9;
}
.btn-green {
  color: #fff;
  background-color: #27ae60;
}
.button-wrap {
  margin-top: 25px;
}

</style>
