<template>
  <div class="content-row">
    <!-- modal submit -->
    <modal v-model="modalsubmit" title="Tambah Antrian" ref="modal" id="modal-demo" :footer="false" :backdrop="false">
      <form @submit.prevent="submitForm" class="form">
        <div class="form-group">
          <label for="email">Username:</label>
          <input required="" type="text" class="search-box-input filter-input " placeholder="Nama" v-model="formdata.username">
        </div>
        <div class="form-group">
          <label for="email">Password:</label>
          <input  :required="formdata.id_user=='' ? true : false" type="password" class="search-box-input filter-input " placeholder="Password" v-model="formdata.password">
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary" :disabled="loading">Simpan <i v-if="loading" class="fas fa-circle-notch fa-spin"></i></button>
          <button class="btn" type="button" @click="modalsubmit=false">Close</button>
        </div>
      </form>
      
    </modal>
    
    
    <router-link to="/" class="button-back">
      <img src="../assets/baseline_keyboard_backspace_white_36dp.png" alt="Back">
    </router-link>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 card card-table">
        <div class="title-table">
          <span>Data User Tv</span>
        </div>
        <div class="content-table">
          
          <div class="button-wrap">
            <button @click="tambah()" class="btn btn-green">Tambah</button>
          </div>
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Act</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(d,i) in dataUser" :key="i">
                  <td>{{d.no}}</td>
                  <td>{{d.username}}</td>
                  <td>
                      <button class="btn btn-warning" @click="edit(d.id_user)">Edit</button>
                      <button class="btn btn-danger" :disabled="loading" @click="deletedata(d.id_user)">Hapus<i v-if="loading" class="fas fa-circle-notch fa-spin"></i></button>
                  </td>
                </tr>

              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
export default {
  name: 'Antrian',
  data() {
    return {
      loading:false,
      formdata:{
        id_user:'',
        username:'',
        password:'',
      },
      modalsubmit:false,
    };
  },
  created() {
    this.loaddata();
  },
  computed:{
    ...mapState("usertv", ["dataUser"]),
  },
  methods:{
    ...mapActions("usertv", ['getUser',"submitUser","updateUser","deleteUser"]),
    loaddata(){
      var formdata = new FormData();
      formdata.append("site",this.$cookies.get("id"));
      this.getUser(formdata);
    },
    submitForm(){
      this.loading = true;
      var fd = new FormData();
      
      fd.append('site',this.$cookies.get("id"));
      fd.append('username',this.formdata.username);
      fd.append('password',this.formdata.password);
      if(this.formdata.id_user == ""){
        this.submitUser(fd).then(res=>{
          if(res.success){
            this.$swal({
              type: 'success',
              html: res.message,
            })
            this.loaddata();
            this.resetForm();
          }else{
            this.$swal({
              type: 'info',
              text: res.message,
            })
          }
          
          this.loading = false;
        })
      }else{
        fd.append('id_user',this.formdata.id_user);
        this.updateUser(fd).then(res=>{
          if(res.success){
            this.$swal({
              type: 'success',
              html: res.message,
            })
            this.loaddata();
            this.resetForm();
          }else{
            this.$swal({
              type: 'info',
              text: res.message,
            })
          }
          this.loading = false;
        })
      }
    },
    resetForm(){
      this.modalsubmit = false;
      this.formdata.username='';
      this.formdata.id_user='';
      this.formdata.password='';
    },
    tambah(){
      this.resetForm();
      this.modalsubmit = true;
    },
    edit(id_user){
      this.resetForm();
      var data = this.dataUser.find(d => d.id_user == id_user);
      this.formdata.id_user = data.id_user;
      this.formdata.username = data.username;
      this.modalsubmit = true;
    },
    deletedata(id_user){
      
      this.loading = true;

      var fd = new FormData();
      
      fd.append('site',this.$cookies.get("id"));
      fd.append('id_user',id_user);
      
      this.deleteUser(fd).then(res=>{
        if(res.success){
          this.$swal({
            type: 'success',
            html: res.message,
          })
          this.loaddata();
          this.resetForm();
        }else{
          this.$swal({
            type: 'info',
            text: res.message,
          })
        }
        this.loading = false;
      })
    }

  }
};
</script>
<style scoped>
.btn{margin: 0 5px}
 .table-detail th, .table-detail td {
    padding: 5px !important;
    border:none !important;
 }
.title-table-detail{
  min-width: 150px !important;
  width: 150px !important;
  max-width: 150px !important;
  font-weight: bolder;
}
.modal-counter-wrap,
.modal-data-diri,
.modal-detail{
  padding:0 20px;
}
.modal-data-diri,
.modal-detail{
  margin-top: 30px;
}
.info-text{
  padding: 4px 12px !important;
  font-size: 12px;
}
a {
  text-decoration: none;
}
.btn-blue {
  color: #fff;
  background-color: #2980b9;
}
.btn-green {
  color: #fff;
  background-color: #27ae60;
}
.button-wrap {
  margin-top: 25px;
  text-align: left
}
.filter-input {
    max-width: 100%;
    width: 100%;
}
.form-group{
  text-align: left;
}
.modal-title{
  text-align: left;
}
button{
  border: none;
}
</style>
