<template>
  <div class="wrapper container-fluid" :class="!click_setting ? '':'__show'">
    <!-- <button @click="logout"
      v-if="showLogout" class="logout">
      <img src="./assets/logout.png"/>
    </button>
    <router-link @click="monitorclick" to="/monitor"
      v-if="showMonitor" class="monitor">
    </router-link>
    <router-link @click="monitorclick" to="/kiosk"
      v-if="showMonitor" class="kiosk">
    </router-link> -->
    <div class="__button_setting" v-if="showLogout || showMonitor">
      <div @click="click_setting=!click_setting" class="__button_parent">
        <span class="__button_parent_icon fa fa-cog" :class="click_setting ? '__hide':'__show'"></span>
        <span class="__button_parent_icon fa fa-caret-down" :class="!click_setting ? '__hide':'__show'"></span>
      </div>
      <div class="__button_child_wrapper" :class="!click_setting ? '':'__show'">
        <div @click="logout" v-if="showLogout" class="__button_child" >
          <span class="fa fa-power-off"></span>
        </div>
        <router-link v-if="showMonitor" to="/kiosk" class="__button_child" >
          <span class="fa fa-mobile-alt"></span>
        </router-link>
      </div>
    </div>
    <router-view/>       
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

// import {messaging} from './firebaseset';
export default {
  name: 'App',
  data() {
    return {
      showLogout: true,
      showMonitor: true,
      click_setting:false,
      
    };
  },
  created(){
  },
  methods: {
    ...mapActions("monitor",['setToken']),
    monitorclick(){
      this.getToken();

    },
    logout() {
      console.log(this.$cookies.get("iduser"));
      if(this.$cookies.get("iduser") != null){
        var formdata = new FormData;
        formdata.append("token","");
        formdata.append('user',this.$cookies.get("iduser"));
          this.setToken(formdata).then(res=>{
            console.log(res);
            if(!res.success){
              console.log("error save token");
            }else{
              this.$cookies.remove('id');
              this.$cookies.remove('mail');
              this.$cookies.remove('nama');
              this.$cookies.remove('theme');
              this.$cookies.remove('iduser');
              this.$router.push('/login');
              localStorage.setItem("voice", JSON.stringify([]));
              localStorage.setItem("nomor", JSON.stringify([]));
              localStorage.setItem("poli", JSON.stringify([]));
              localStorage.setItem("daterime", JSON.stringify([]));
            }
          })
      }else{
        this.$router.push('/login');
        this.$cookies.remove('id');
        this.$cookies.remove('mail');
        this.$cookies.remove('nama');
        this.$cookies.remove('theme');
      }

    },
    // getToken() {
    //   var formdata = new FormData;
    //   formdata.append('user',this.$cookies.get("id"));
    //   const self = this;
    //   messaging.getToken()
    //   .then(function(token) {
    //     if (token) {
    //       console.log("home masuk token");
    //       formdata.append("token",token);
    //       self.setToken(formdata).then(res=>{
    //         console.log(res);
    //         if(!res.success){
    //           console.log("error save token");
    //         }
    //       })
          
    //     }else{
    //       self.requestPermission();
    //     }
    //   })
    //   .catch(function(err) {
    //     console.log('Unable to retrieve refreshed token ', err);
    //   });

    // },
    // requestPermission() {
    //   const self = this;
    //   messaging.requestPermission()
    //   .then(function() {
    //     self.getToken();
    //   })
    //   .catch(function(err) {
    //     console.log('Unable to get permission to notify.', err);
    //   });
    // }
    
  },
  watch: {
    $route(to) {
      console.log(to.name !== 'login' || to.name !== 'monitor' || to.name !== 'monitor-umum');
      this.showLogout = to.name !== 'login' && to.name !== 'monitor_umum' && to.name !== 'kiosk';
      this.showMonitor = (to.name !== 'login' && to.name !== 'monitor' && to.name !== 'monitor_umum' && to.name !== 'kiosk');
    },
    
  },
};
</script>
<style lang="scss">
  .card-table{
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .coba.lightTheme {
    margin-top: 200px;
  }
  .container-fluid {
    // padding-right: 0px !important;
    // padding-left: 0px !important; 
    // margin-right: auto;
  }
  .wrapper{
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrapper:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(44,62,80,.5);
    background-attachment: fixed;
  }
  
.star{
  color: #f1c40f;
}
.text-left{
  text-align: left
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none !important;
}
.bg-blue-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #3498db;
}
.bg-green-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #2ecc71;
}
.bg-yellow-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #f1c40f;
}
.bg-black-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #2c3e50;
}
.bg-orange-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #e67e22;
}
.bg-red-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #e74c3c;
}
.bg-red1-box {
  padding: 10px 15px;

  color: #fff;
  border-radius: 3px;
  background: #c0392b;
}


// color fix without radius
.bg-blue {

  color: #fff;
  background: #3498db;
}
.bg-green {

  color: #fff;
  background: #27ae60;
}
.bg-yellow {

  color: #fff;
  background: #f1c40f;
}
.bg-black {

  color: #fff;
  background: #2c3e50;
}
.bg-orange {

  color: #fff;
  background: #e67e22;
}
.bg-red {

  color: #fff;
  background: #e74c3c;
}
.bg-red1 {

  color: #fff;
  background: #c0392b;
}
// border color
.border-blue {
  border-color: #3498db;
}
.border-green {
  border-color: #27ae60;
}
.border-yellow {
  border-color: #f1c40f;
}
.border-black {
  border-color: #2c3e50;
}
.border-orange {
  border-color: #e67e22;
}
.border-red {
  border-color: #e74c3c;
}
.border-red1 {
  border-color: #c0392b;
}
.border-blue {
  color: #3498db;
}
.border-green {
  color: #27ae60;
}
.border-yellow {
  color: #f1c40f;
}
.border-black {
  color: #2c3e50;
}
.border-orange {
  color: #e67e22;
}
.border-red {
  color: #e74c3c;
}
.border-red1 {
  color: #c0392b;
}
* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#app::before {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';

  background: rgba($color: #2c3e50, $alpha: .5);
  background-attachment: fixed;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  height: 100%;

  text-align: center;

  color: #2c3e50;
  background: url(assets/bg.jpg) no-repeat;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.__button_setting{
  z-index: 999;
  position: absolute;
  right: 20px;
  color: #fff;
  top: 20px;
  &>.__button_parent{
    width: 80px;
    height: 80px;
    background: #e74c3c;
    z-index: 99;
    border-radius: 50px;
    font-size: 40px;
    position: relative;
    line-height: 80px;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    &>.__button_parent_icon{
      transition: all .3s ease-in;
      position: absolute;
      
      opacity: 0;
      visibility: hidden;
      left: 50%;
      transform: translateX(-50%);
    }
    &>.__show{
      top: 0;
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &>.__hide{
      top:-100px;
    }
  }
  &>.__button_child_wrapper{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    
    transition: all .25s ease-in;
    &>.__button_child{
      width: 50px;
      height: 50px;
      display: block;
      background: #fff;
      color: #2c3e50;
      border-radius: 50px;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      margin-top: 5px;
      margin-right: auto;
      margin-left: auto;
      &:hover{
        cursor: pointer;
      } 
    }
    &.__show{
      top: 85px;
      visibility: visible;
      opacity: 1;
    }
  }
}
.logout {
  position: absolute;
  z-index: 999;
  right: 0;

  cursor: pointer;

  border: 0;
  outline: none;
  background: #e74c3c;

  &:hover {
    background: #ec5746;
  }
}
.monitor {
  position: absolute;
  z-index: 999 !important;
  right: 0;
  top:55px;
  cursor: pointer;
  height: 55px;
  width: 62px;
  background: url("./assets/monitor.png") no-repeat #ffffff;
  background-position: center;
  border: 0;
  outline: none;
  transition: all 0.2s ease-in;
  padding: 2px 7px;
  &:hover{
    transition: all 0.2s ease-in;
    background: url("./assets/monitorw.png") no-repeat transparent;
    background-position: center;
  }
}
.kiosk {
  position: absolute;
  z-index: 999;
  right: 0;
  top:115px;
  cursor: pointer;
  height: 55px;
  width: 62px;
  background: url("./assets/kiosk.png") no-repeat #ffffff;
  background-position: center;
  border: 0;
  outline: none;
  transition: all 0.2s ease-in;
  padding: 2px 7px;
  &:hover{
    transition: all 0.2s ease-in;
    background: url("./assets/kioskw.png") no-repeat transparent;
    background-position: center;
  }
}
footer {
  position: fixed;
  z-index: 2;
  bottom: 5px;
  left: 50%;

  transform: translateX(-50%);

  color: rgba(255, 255, 255, .8);
}

/*for table*/
.title-table {
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.content-table {

  width: 100%;
  margin: 5px;
}
.search-box {
  display: flex;
  align-items: center;
  .filter-input {
    max-width: 450px;
    width: 100%;
    padding: .375rem .75rem;
  }
  &-input,
  &-select {
    font-size: 1em;

    margin: 3px 2.5px;
    padding: 5px 10px;

    transition: .5s ease-in-out;

    border: 0;
    border-bottom: 1px solid #fff;
    outline: none;

    &:focus {
      transition: .5s ease-in-out;

      border-bottom: 1px solid #3498db;
    }
  }

  .btn-refersh {
    margin: 0 15px;

    cursor: pointer;
    text-align: left;
  }
}
.card {
  padding: 20px;

  text-align: center;

  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.3);
  ;
}
.content-row {
  position: relative;
    min-height: 100vh;
  height: 100%;
}
a.button-back {
  position: absolute;
  top: 20px;
  left: 20px;
}
a.button-back > img {
  width: 50px;
  height: 50px;
}
.table-wrapper {
  position: relative;
  top: 100px;

  width: 90%;
  margin: auto;
}
.title-table {
  padding-bottom: 10px;

  text-align: left;

  border-bottom: 1px solid #eaeaea;
}
table {
  width: 100%;
  margin-top: 20px;

  text-align: left;
}
table th,
table td {
  padding: 15px 15px;

  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .search-box {
    display: block;
  }
}
@media only screen and (max-width:991px) {
   .wrapper.__show:before{
     z-index: 999;
   }
   .card-table{
    margin: 80px 10px 20px 10px;
  }
}


</style>

